@page
@model IndexModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home page";
    var loggedInUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<paging class="pagination" total-records="@Model.totalNotes" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>
<div class="text-center">
    <h1 class="display-4">Mini Blogi</h1>
    <ul>
        @foreach (var note in Model.LatestNotes)
        {
            
            <ul class="Title">@note.Title</ul>
            <ul class="Author">Autor: <a asp-page="/UserPosts" asp-route-username="@note.User.UserName">@note.User.UserName</a></ul>
            <ul class="Description">@note.Description</ul>
            <ul>@Html.Raw(note.Content)</ul>
            <div class="Date">
            <ul >@note.CreatedAt</ul>
            </div>
            <div class="likes">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-page-handler="Like" asp-route-noteId="@note.NoteId">
                            <button type="submit" class="like-button">
                                @if (note.UsersLiked != null && note.UsersLiked.Contains(User.Identity.Name))
                                {
                                    <img class="like_img_liked" src="~/fi_thumbs-up-color.png" />
                                }
                                else
                                {
                                    <img class="like_img" src="~/fi_thumbs-up.png" />
                                }
                            </button>
                        </form>
                    }
                    else
                    {
                        <button type="submit" class="like-button">
                           
                                <img class="like_img" src="~/fi_thumbs-up.png" />
                          
                        </button>
                    }
                    @if (note.UsersLiked != null && note.UsersLiked.Length > 0)
                {
                    <span>@note.UsersLiked.Length</span> 
                }
                else
                {
                    <span>0</span>
                }
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <input type="hidden" asp-for="NewComment.Date_comment" value="@DateTime.Now" />

                        </div>
                            <div class="form-group">
                                <input type="hidden" asp-for="NewComment.UserId" value="@User.Identity.Name" />
                            </div>

                        <div class="form-group">
                            <label asp-for="NewComment.Content">Komentarz</label>
                            <input asp-for="NewComment.Content" class="form-control" />
                            <span asp-validation-for="NewComment.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="NewComment.Ip_computer" value="@Model.GetIpAddress()" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="NewComment.NoteId" value="@note.NoteId" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Dodaj komentarz" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                </div>
            }
            else
            {
                <p>Zaloguj się, aby dodać komentarz.</p>
            }
            <h3>Komentarze:</h3>
            @if (ViewData["NoteOwnerId"] != null)
            {
                <p>Wartość zmiennej s: @ViewData["NoteOwnerId"]</p>
            }
            <ul>
                @foreach (var comment in note.Comment)
                {
                    <li>
                        @comment.Content - Dodany @comment.Date_comment przez użytkownika @comment.UserId o IP @comment.Ip_computer
                        @if (User.Identity.Name == comment.UserId || loggedInUserId == note.UserId)
                        {
                            <form method="post" asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id_comment">
                                <button type="submit">Usuń</button>
                            </form>
                        }
                    </li>

                }
            </ul>
            <hr />

        }
       
    </ul>
   

</div>
<paging class="pagination" total-records="@Model.totalNotes" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>

