@page
@model IndexModel
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home page";
    var loggedInUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="text-center">
    <h1 class="Title-blogi">MiniBlogi</h1>
    <paging class="pagination" total-records="@Model.totalNotes" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>
    <ul class="lista-wpisow">
        @foreach (var note in Model.LatestNotes)
        {
            <div class="wpis">
            <ul class="Title">@note.Title</ul>
            <div class="Date">
            <ul class="Author"><a asp-page="/UserPosts" asp-route-username="@note.User.UserName">@note.User.UserName</a></ul>
            <ul class="klasa-data">@note.CreatedAt</ul>
            </div> 
            <ul class="Description">@note.Description</ul>
            <ul class="Content">@Html.Raw(note.Content)</ul>
            </div>
            <div class="likes">
                <ul class="l">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form  class="lajki" method="post" asp-page-handler="Like" asp-route-noteId="@note.NoteId">
                            <button type="submit" class="like-button">
                                @if (note.UsersLiked != null && note.UsersLiked.Contains(User.Identity.Name))
                                {
                                    <img class="like_img_liked" src="~/fi_heartheartdark.png" />
                                }
                                else
                                {
                                    <img class="like_img" src="~/fi_heartheart.png" />
                                }
                            </button>
                        </form>
                    }
                    else
                    {
                        <button type="submit" class="like-button">
                           
                                <img class="like_img" src="~/fi_heartheart.png">
                          
                        </button>
                    }
                    
                        @if (note.UsersLiked != null && note.UsersLiked.Length > 0)
                        {
                        <span class="likes-count" data-toggle="tooltip" title="@string.Join(", ", note.UsersLiked)">@note.UsersLiked.Length</span>
                        }
                        else
                        {
                            <span class="likes-count">0</span>
                        }
                    
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <input type="hidden" asp-for="NewComment.Date_comment" value="@DateTime.Now" />

                        </div>
                            <div class="form-group">
                                <input type="hidden" asp-for="NewComment.UserId" value="@User.Identity.Name" />
                            </div>

                        <div class="Comment">
                            <label asp-for="NewComment.Content" class="Comment-label">Komentarz</label>
                            <input asp-for="NewComment.Content" class="Comment-input" />
                            <span asp-validation-for="NewComment.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="NewComment.Ip_computer" value="@Model.GetIpAddress()" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="NewComment.NoteId" value="@note.NoteId" />
                        </div>
                        <div class="Comment">
                            <input type="submit" value="Dodaj komentarz" class="btn btn-primary button-comment" />
                        </div>
                    </form>
                </div>
                </div>
            }
            else
            {
                <p>Zaloguj się, aby dodać komentarz.</p>
            }
            <h3>Komentarze:</h3>
            @if (ViewData["NoteOwnerId"] != null)
            {
                <p>Wartość zmiennej s: @ViewData["NoteOwnerId"]</p>
            }
            <ul class="lista-comment">
                @foreach (var comment in note.Comment)
                {
                    <li class="Comment-content">
                        <p>@comment.Content</p> - Dodany @comment.Date_comment przez użytkownika @comment.UserId o IP @comment.Ip_computer
                        @if (User.Identity.Name == comment.UserId || loggedInUserId == note.UserId)
                        {
                            <form  class="form-delete-comment" method="post" asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id_comment">
                                <button class="delete-comment" type="submit">Usuń</button>
                            </form>
                        }
                    </li>

                }
            </ul>
            <hr />

        }
       
    </ul>
   

</div>
<paging class="pagination" total-records="@Model.totalNotes" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>

