@page "/UserPosts/{username}"
@model MiniBlogiv2.Pages.UserPostsModel
@using System.Security.Claims;
@{
    ViewData["Title"] = $"{Model.UserName}'s Posts";
    var loggedInUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    
}

<paging class="pagination" total-records="@Model.totalNotes" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>

<ul  class="lista-wpisow">
    @foreach (var note in Model.UserNotes)
    {
        <div class="wpis">
        <ul class="Title">@note.Title</ul>
        <div class="Date"> 
            <ul class="Author">@note.User.UserName</ul>
            <ul class="klasa-data">@note.CreatedAt</ul>
        </div>
            <ul class="Content">
                <span class="read-more" onclick="toggleContent(this)">Wyświetl więcej</span>
                <div class="Content post-content">

                    @Html.Raw(note.Content)
                </div>
            </ul>
       </div>
        <div class="likes">
            <ul class="l">
                @if (User.Identity.IsAuthenticated)
                {
                    <form class="lajki" method="post" asp-page-handler="Like" asp-route-noteId="@note.NoteId">
                        <button type="submit" class="like-button">
                            @if (note.UsersLiked != null && note.UsersLiked.Contains(User.Identity.Name))
                            {
                                <img class="like_img_liked" src="~/fi_heartheartdark.png" />
                            }
                            else
                            {
                                <img class="like_img" src="~/fi_heartheart.png" />
                            }
                        </button>
                    </form>
                }
                else
                {
                    <button type="submit" class="like-button">

                        <img class="like_img" src="~/fi_heartheart.png">

                    </button>
                }

                @if (note.UsersLiked != null && note.UsersLiked.Length > 0)
                {
                    <span class="likes-count" data-toggle="tooltip" title="@string.Join(", ", note.UsersLiked)">@note.UsersLiked.Length</span>
                }
                else
                {
                    <span class="likes-count">0</span>
                }

            </ul>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <input type="hidden" asp-for="NewComment.Date_comment" value="@DateTime.Now" />

                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="NewComment.UserId" value="@User.Identity.Name" />
                        </div>

                        <div class="Comment">
                            <label asp-for="NewComment.Content" class="Comment-label">Komentarz</label>
                            <input asp-for="NewComment.Content" class="Comment-input" />
                            <span asp-validation-for="NewComment.Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="NewComment.Ip_computer" value="@Model.GetIpAddress()" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="NewComment.NoteId" value="@note.NoteId" />
                        </div>
                        <div class="Comment">
                            <input type="submit" value="Dodaj komentarz" class="btn btn-primary button-comment" />
                        </div>
                    </form>
                </div>
            </div>
        }
        else
        {
            <p>Zaloguj się, aby dodać komentarz.</p>
        }
        <h3>Komentarze:</h3>
        if (note.Comment.Any())
        {
            <ul class="lista-comment">
                @foreach (var comment in note.Comment)
                {
                    <li class="Comment-content">
                        <p>@comment.Content</p> - Dodany @comment.Date_comment przez użytkownika @comment.UserId o IP @comment.Ip_computer
                        @if (User.Identity.Name == comment.UserId || loggedInUserId == note.UserId)
                        {
                            <form class="form-delete-comment" method="post" asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id_comment">
                                <button class="delete-comment" type="submit">Usuń</button>
                            </form>
                        }
                    </li>

                }
            </ul>
        }
        else
        {
            <li class="Comment-content"><p>Brak komentarzy</p></li>
        }

    }
</ul>
<paging class="pagination" total-records="@Model.totalNotes" show-total-pages="false" show-total-records="false" page-size="@Model.pageSize" page-no="@Model.pageNo"></paging>

<script>
    function toggleContent(element) {
        var contentDiv = element.nextElementSibling;
        contentDiv.classList.toggle('full-content');
        element.innerText = contentDiv.classList.contains('full-content') ? 'Zwiń' : 'Wyświetl więcej';
    }
    document.addEventListener("DOMContentLoaded", function () {
        var spanElements = document.querySelectorAll('.sr-only');

        spanElements.forEach(function (spanElement) {
            if (spanElement.textContent.includes("First")) {
                spanElement.textContent = "Pierwsza";
            }
            if (spanElement.textContent.includes("Previous")) {
                spanElement.textContent = "Poprzednia";
            }
            if (spanElement.textContent.includes("Next")) {
                spanElement.textContent = "Następna";
            }
            if (spanElement.textContent.includes("Last")) {
                spanElement.textContent = "Ostatnia";
            }
        });
    });
</script>