@page
@model MiniBlogiv2.Pages.Notes.IndexModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note[0].TagNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Note) {
            @if (item.UserId == currentUserId)
            {
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.Raw(item.Content)
            </td>
            <td>
            @foreach(var tagnote in Model.tagNotes)
            {
              foreach(var tag in Model.Tags)
                        {
                            if(tag.TagId==tagnote.TagId&&tagnote.NoteId==item.NoteId)
                            {
                               
                               <p>@tag.Name</p>
                               
                            }
                        }
            }
           </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NoteId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NoteId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NoteId">Delete</a>
            </td>
        </tr>
        }
}
    </tbody>
</table>
